.wrapper {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #7ca4a4;
  flex-wrap: wrap;
}

.App {
  border: 5px solid #1e3434;
  border-radius: 10px;
  width: 350px;
  height: 250px;
  background-color: #7ca4a4;
  font-size: x-large;
}




