.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15rem auto;
  align-items: center;
  width: 16rem;
  height: 12rem;
  border: 0.1rem solid darkblue;
  border-radius: 0.5rem;
}


.countBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 12rem;
  height: 8rem;
  color: black;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 1rem;
}

.buttonBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  width: 12rem;
  height: 8rem;
  border: 0.1rem solid green;
  border-radius: 0.5rem;
}

.disabledButton {
  color: dimgrey;
}
